/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 21, 2017, 5:39:22 PM
    Author     : yitagesu
*/

@charset "UTF-8";
@import url('font-awesome.min.css');
@import url('font-awesome-animation.css');
@media print{
    #edit_tran_holding_btn{
        display: none;
    }
}

@-ms-viewport{
    width: device-width;
}
#login, #body{
    background: #eee;
    margin: 0;
    width:100%;
}
#cmss-login{
    margin: 0;
    background: #fff;
}
#login{
    background-image:url(/assets/IMAGES/bg.jpg); 
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.align-left{
    text-align: left;
}
.align-center{
    text-align: center;
}
.align-right{
    text-align: right;
}
.login-container{
    position: absolute;
    right: 10%;
    left: 10%;
    top: 15%;
    bottom: 15%;

}
.login-advert{
    position: absolute;
    background:transparent;
    left: 0;
    right: 390px;
    bottom:15%;
    top:20%;
    padding:3em;
}
.login-advert h1{
    color:#3333ff;
}
.login-logo{
    position: absolute;
    bottom: 15px;
    left: 0;
}
.login-logo img{
    max-width: 100%;
    background: rgba(238, 238, 238, 0.3);
    border-radius: 5px;
}
.hansa-logo{
}
.cmss-login-warper{
    position: relative;
    width:100%;
}
.login-warper{
    position: absolute;
    right: 0;
    bottom: 0;
    top:0;
    width:400px;

}
.login-header {
    background:#3333ff;
    border-radius: 5px;
    margin: 10px 20px;
    color:#fff;
    z-index: 2;
    position: relative;
    -webkit-box-shadow:0 1px 14px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 14px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 14px rgba(0,0,0,0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;

}
.login-header:before{
    content: '';
    position: absolute;
    border-bottom-left-radius: 5px;
    top: 25;
    left: 0;
    height: 100%;
    width: 50%;
    z-index: -1;
    background: #3333ff;
    -webkit-transform: skew(0deg, 6deg);
    -moz-transform: skew(0deg, 6deg);
    -ms-transform: skew(0deg, 6deg);
    -o-transform: skew(0deg, 6deg);
    transform: skew(0deg, 8deg);
    -webkit-box-shadow:-4px 4px 14px rgba(0,0,0,0.3), 15px 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:-4px 4px 14px rgba(0,0,0,0.3), 15px 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:-4px 4px 14px rgba(0,0,0,0.3), 15px 0 40px rgba(0, 0, 0, 0.1) inset;
}
.login-header:after{
    content: '';
    position: absolute;
    border-bottom-right-radius: 5px;
    top: 25;
    right: 0;
    height: 100%;
    width: 50%;
    background: #3333ff;
    z-index: -1;
    -webkit-transform: skew(0deg, -6deg);
    -moz-transform: skew(0deg, -6deg);
    -ms-transform: skew(0deg, -6deg);
    -o-transform: skew(0deg, -6deg);
    transform: skew(0deg, -8deg);
    -webkit-box-shadow:4px 4px 14px rgba(0,0,0,0.3), 0px 15px 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:4px 4px 14px rgba(0,0,0,0.3), 0px 15px 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:4px 4px 14px rgba(0,0,0,0.3), 0px 15px 40px rgba(0, 0, 0, 0.1) inset;
}

.login-header  h1{
    padding: 10px 20px;
    margin-bottom: -5px;
    font-size: 45px;
    font-family: 'time new roman';
}
#addon{
    color: #fff;
    background-color: #3333ff;
    border: 1px solid #3333ff;
}
#addon a{
    color: #fff;
}
.cmss-login-body-h{
    background: #3333ff;
    color:#fff;
    padding:10px 5px;
    font-family: 'Century Gothic';

}
.cmss-login-body-h label{
    font-weight:530;
}
.cmss-login-body-h i{
    font-size: 50pt;
}
.cmss-login-body{
    margin-top: 0px;
    background: #fff;
    border-radius: 5px;
    height:80%;
    z-index: -1;
    -webkit-box-shadow:3px -2px 9px rgba(0,0,0,0.1), -3px -2px 9px rgba(0,0,0,0.1);
    -moz-box-shadow:3px -2px 9px rgba(0,0,0,0.1), -3px -2px 9px rgba(0,0,0,0.1);
    box-shadow:4px -6px 9px rgba(0,0,0,0.1), -4px -6px 9px rgba(0,0,0,0.1);
}
.login-body{
    margin-top: -25px;
    background: #fff;
    border-radius: 5px;
    height:80%;
    z-index: -1;
    -webkit-box-shadow:3px -2px 9px rgba(0,0,0,0.1), -3px -2px 9px rgba(0,0,0,0.1);
    -moz-box-shadow:3px -2px 9px rgba(0,0,0,0.1), -3px -2px 9px rgba(0,0,0,0.1);
    box-shadow:4px -6px 9px rgba(0,0,0,0.1), -4px -6px 9px rgba(0,0,0,0.1);
}
.login-footer{
    z-index: 1;
    margin-top: -80px;
}
.login-body-h{
    padding: 45px 25px 0px;
}
.login-body-b{
    padding: 25px 50px;
}
.login-body-b .input-group{
    margin-bottom: 15px;
}
#cmss-login .btn-select{
    height: 34px;
    padding: 10px 15px;
    font-size: 14px;
    line-height: 1.96;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;

}
#cmss-login .login-body-b{
    height: 250px;
}
.form-select{
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.login-body-f img{
    margin-top: -15px;
    border-bottom-right-radius: 5px;
}
#username_error, #password_error, #error{
    color:#a94442;
    background-color: #ffffff;
    border: 1px solid #a94442;
}
.input-group .form-error:last-child{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.form-error{
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
    height:34px;
    padding:6px 12px;
    font-size:14px;
    line-height:1.42857143;
    color:#555;
    background-color:#fff;
    background-image:none;
    border:1px solid #ff0000;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
}
.header{
    height: 60px;
    position: fixed;
    left: 0;
    right: 0;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    -webkit-transition: left 0.3s ease;
    transition: left 0.3s ease;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.btn-welcome{
    padding:1.3em 1em;
    border-radius:0;
    background:#d7ddf6;
    display: inline-block;
    margin-top: -62px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border-bottom: 5px solid #3333ff;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;

}
.btn-welcome:hover{
    background:#eee;
}
.dashboard-body{
    position: absolute;
    top:70;
    bottom: 0;
    left:0;
    right: 0;
    overflow: auto;
}
.has-scroll::-webkit-scrollbar, .popover-content::-webkit-scrollbar{
    width:0.85em;
    height: 0.85em;
}
.has-scroll::-webkit-scrollbar-track, .popover-content::-webkit-scrollbar-track{
    border-radius:1px;
    background:rgba(51,51,255,0.1);
}
.has-scroll::-webkit-scrollbar-thumb, .popover-content::-webkit-scrollbar-thumb{
    background-color:rgba(51,51,255,0.3);
    border-radius:1px;
}
.has-scroll::-webkit-scrollbar-thumb:hover, .popover-content::-webkit-scrollbar-thumb:hover
{
    background-color:#3333ff;
    border-radius:3px;
}
.has-scroll::-webkit-scrollbar-track:hover, .popover-content::-webkit-scrollbar-track:hover{
    -webkit-box-shadow: inset 0 0 6px rgba(51,51,255,0.2);
    border-radius:1px;
}
.tran_type{
    position: absolute;
    top:30px;
    bottom:0;
    overflow:auto;
    right: 0;
    left:0;
}
.nav.side-menu>li{
    position:relative;
    display:block;
    cursor:pointer;

}
.nav.side-menu>li>a{
    margin-bottom:6px;
}
.nav.side-menu>li>a:hover{
    color:#F2F5F7!important;
}
.nav.side-menu>li>a:hover,.nav>li>a:focus{
    text-decoration:none;
    background:0 0;
}
.nav.side-menu>li.active, .nav.side-menu>li.current-page {

}
.nav.side-menu>li.active>a {
    text-shadow: rgba(0,0,0,.25) 0 -1px 0;
    background: #3333ff;
    box-shadow: rgba(0,0,0,.25) 0 1px 0, inset rgba(255,255,255,.16) 0 1px 0;
    border-right: 5px solid #3333ff;
    color:#fff;
}
.right-side{
    position: absolute;
    left:250px;
    top:70px;
    right: 0;
    bottom: 10px;
}
.transaction-dropdown-menu{
    height:calc(100%-10px);
    overflow-y:auto;
}
.transaction{
    margin-bottom: 10px;
    margin-top: 10px;
}
.transaction .date{
    position: relative;
    height: 0;
    padding-top: 30%;
    padding-bottom: 70%;
}
.media .date{
    background:rgba(51,51,255,0.3);
    width: 100%;
    margin-right:10px;
    border-radius:10px
}
.media .date:hover{
    background:rgba(51,51,255,1);
}
.media .date .day,.media .date .month{
    margin:0;
    text-align:center;
    color:#fff;
}
.media .date .day{
    font-size:27px;
    line-height:27px;
    font-weight:700;
}
.x_panel,.x_title{margin-bottom:10px}
.x_panel{
    width:100%;
    padding:10px 17px;
    display:inline-block;
    background:#fff;
    border:1px solid #E6E9ED;
    border-radius: 5px;
    -webkit-column-break-inside:avoid;
    -moz-column-break-inside:avoid;
    column-break-inside:avoid;
    opacity:1;
    transition:all .2s ease;
}
.x_title{
    border-bottom:2px solid #E6E9ED;
    padding:1px 5px 6px
}
.x_title .filter{
    width:40%;
    float:right
}
.x_content,table.tile td ul li a,table.tile_info{width:100%}
.x_title h2{
    margin:5px 0 6px;
    float:left;
    display:block
}
.x_title h2 small{
    margin-left:10px
}
.x_title span{
    color:#BDBDBD
}
.x_content{
    padding:0 5px 6px;
    float:left;
    clear:both;
    margin-top:5px
}.x_content h4{
    font-size:16px;
    font-weight:500
}
#list_application .x_content{
    overflow: auto;
}
#map .x_content{
    overflow: auto;
}
#reg_application .x_content{
    overflow: auto;
}
.uploadimg::-webkit-file-upload-button {
    visibility: hidden;
}
.uploadimg::-webkit-file-upload-title
{
    visibility: hidden;
    padding: 5px;
}
.uploadimg{
    padding: 0px;
    width:100%;
    height: 34px;
    padding: 4px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.uploadimg::before {
    content: 'Choose';
    display: inline-block;
    title:none;
    margin-top:-15px;
    margin-left: -13px;
    padding: 5px 9px;
    height: 34px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #fff;
    background-color: #3333ff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
table{
    font-size: 13px;
}
table.jambo_table thead, .table_separetor{
    background: rgba(51,51,255,.5);
    color: #ECF0F1;
}
#db_search_result .jambo_table tbody tr:hover td{
    background: rgba(38,185,154,.07);
    border-top: 1px solid rgba(38,185,154,.11);
    border-bottom: 1px solid rgba(38,185,154,.11);
    cursor: pointer;
}
.hand{
    cursor:pointer;
}
.app_table thead td{
    text-align: center;
    border: 1px solid #ECF0F1;
}
.input-form{
    margin-bottom: 10px;
}

.btn-transaction{
    margin-right: 195px;
    padding:1.3em 1em;
    border-radius:0;
    background:#3333ff;
    color:#fff;
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border-bottom: 5px solid #03fa49;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}
.popover-content{
    /* height: 250px; */
    overflow: auto;
}

.stepwizard-step p {
    margin-top: 10px;
}
.stepwizard-row {
    display: table-row;
}
.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}
.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
}
.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;

}
.btn-nrlais{
    color:#fff;
    background-color:#3333ff;
    border-color:#2e6da4;
}
.btn-nrlais:hover, .btn-nrlais:active{
    color: #fff;
}
#pick_person .modal-dialog{
    width: 70%;
    margin:5px auto;
}
#pick_person .modal-dialog .modal-body{
    height: calc(90vh - 170px);
    overflow-y: auto;
}

#document_preview_modal .modal-dialog{
    width:80%;
    margin:5px auto;

}
#register_representative .modal-dialog{

    margin:5px auto;
}
#register_representative .modal-dialog .modal-body{

    max-height: calc(100vh - 160px);
    padding: 15px;
    overflow-y: auto;
}
#document_preview_modal .modal-dialog .modal-body{

    height: calc(100vh - 105px);
    padding: 0 0 0 5px;
}
#application_detail .modal-dialog{
    width:90%;
    margin:5px auto;

}
#search_container .modal-body{

    height: 80%;
    padding: 15px;
    overflow-y: auto;
}  
#party {
    width:55%;
    margin: 5px auto;
}
#party .modal-body{
    height: calc(100vh - 170px);
    overflow-y: auto;

}
@media(max-width:700px){
    #party {
        width:100%;
    }
    #party .modal-body{
        height: calc(100vh - 190px);
        overflow-y: auto;

    }
}
#holding_view_modal .modal-dialog {
    width:70%;
    margin:5px auto;

}
#application_detail .modal-dialog .modal-body, #holding_view_modal .modal-dialog .modal-body{

    height: calc(100vh - 105px);
    padding: 0 0 0 5px;
}
#transactionContent-iframe{
    width: 100%;
    height: 100%;
    border:none;
    overflow-x: hidden;
    overflow-y: hidden;
}
iframe body{
    overflow-x: hidden;
}
.bhoechie-tab{
    height: 100%;
    overflow-y: auto;
}
#attachment_preview{
    height: 100%;
    border:none;
}
#sea_form .col-md-12{
    margin-bottom: 10px;
}
.internal_table{
    width: 100%;
    max-width: 100%;
    padding: 3px;
}
.internal_table td{
    padding: 5px;

}
.internal_table_border td{
    border:1px solid #ccc;
}
#left-side{
    margin-left: -100px;

}
#left-side ul{
    white-space: nowrap;
    transform: rotate(-90deg);
}

/* Dual Calander Style*/
.etdc_popup_Container
{
    position:absolute;
    left:0px;
    top:0px;
    width:100vw;
    height:100vh;
    background:transparent;
    z-index:10000;
}
.etdc_Container
{
    position:absolute;
    background:white;
    width:450px;
    border-radius:2px;
    box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
    padding:5px;
}
.etdc_month_selector
{
    cursor:pointer;
    padding:0 5px 0 5px;
}
.etdc_day {
    font-size:11px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    border: 1px solid #ddd;
    text-align: center;
    color: #666;
    cursor:pointer;
    background: #f5f5f5;
    box-shadow:#ddd 1px 1px 1px 1px ;
}
.etdc_day:hover
{
    background:#e67e22;
    color:#ffffff;
}
.etdc_year_selector
{
    width:100%;
    display:inline;
    z-index:9999;
    padding:2px 2px;
    font-size:12px;
    border:none;
}
.etdc_marked_day
{
    background:#33aaff;
    color:#FFF;
    box-shadow:#178fe5 0 1px 3px 0 inset;
    box-shadow:#ddd 1px 1px 1px 1px ;
}
.etdc_eth_container
{
    float:left;
    padding:4px;

}

.etdc_grig_container
{
    float:right;
    padding:4px;

}
.etdc_dwn
{
    text-align:center;
    border:1px solid #ddd;
    background:#f1f1f1;
    color:#666;
    box-shadow:#ddd 1px 1px 1px 1px ;
}
.etdc_grig_container .filterCalendarMonthLabel
{
    font-size:10px;
}
.error-panel, .app-error-panel, .id-error-panel, .error-req-doc-panel, .error_panel{
    color: red;
}
/*holder view*/

div.bhoechie-tab-menu{
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
    height: 100%;
    border-right: 1px solid #5A55A3;
}
div.bhoechie-tab-menu div.list-group{
    margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a{
    margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
    color: #3333ff;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
    border-top-right-radius: 0;
    -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
    border-bottom-right-radius: 0;
    -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
    background-color: #3333ff;
    background-image: #3333ff;
    color: #ffffff;
}
div.bhoechie-tab-menu div.list-group>a.active:after{
    content: '';
    position: absolute;
    left: 100%;
    top: 50%;
    margin-top: -13px;
    border-left: 0;
    border-bottom: 13px solid transparent;
    border-top: 13px solid transparent;
    border-left: 10px solid #5A55A3;
}
div.bhoechie-tab-content{
    background-color: #ffffff;
    /* border: 1px solid #eeeeee; */
    padding-left: 20px;
    padding-top: 10px;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active){
    display: none;
}



/*CMSS staff*/
#select_app{
    color: #fff;
    padding: 6px 10px;
    text-shadow:rgba(0,0,0,.25) 0 -1px 0;
    background:#506350;
    box-shadow:rgba(0,0,0,.25) 0 1px 0,inset rgba(255,255,255,.16) 0 1px 0;

}
#task_panel, #search_result{
    position: absolute;
    top:50px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
}
#task_panel h4{
    padding: 0 5px;
}
#task_panel ul{
    list-style:circle;
}

#split_buttons{
    margin-right: 10px;
}
#split_title_first, #split_title_final, #assignParcel{
    text-align: center;
    width: 100%;
}
#split_title_first label, #split_title_final label, #assignParcel label{

    color: white;
    width: 100%;
    background-color: #EC971F;
    border-color: #985F0D;
    padding: 5px 30px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    font-weight: 500;

}
#split_assign_parcel{
    margin: 0 10px;
}
table.cmss_table{
    border:1px solid rgba(221,221,221,.78)
}
table.cmss_table thead{
    background:rgba(52,73,94,.94);
    color:#ECF0F1
}
table.cmss_table thead tr td{

}
table.cmss_table tbody tr:hover td{
    background:rgba(38,185,154,.07);
    border-top:1px solid rgba(38,185,154,.11);
    border-bottom:1px solid rgba(38,185,154,.11)
}
table.cmss_table tbody tr.selected{
    background:rgba(38,185,154,.16)
}
table.cmss_table tbody tr.selected td{
    border-top:1px solid rgba(38,185,154,.4);
    border-bottom:1px solid rgba(38,185,154,.4);
}

.new_share_enable{
    color: #000;
    width: 85px;
}
.new_share_disable{
    color: transparent;
    width: 85px;
}
/*media event*/

@media (max-width:950px){
    #document_preview_modal .modal-dialog{
        width: 100%;
        margin: 0;
    }
    #document_preview_modal .modal-dialog .modal-body{

        height: calc(100vh - 90px);
        padding: 0 0 0 5px;
    }
    #document_preview_modal .modal-dialog .modal-footer, #document_preview_modal .modal-dialog .modal-header{
        display: none;
    }
}
.bhoechie-tab-content .panel-body{
    padding:0;
}

.replication{
    position: absolute;
    top:70;
    bottom: 0;
    overflow: auto;
    left: 5%;
    right:5%;
    background: #fff;
}
.replication-status{
    position: fixed;
    z-index: 10001;
    bottom: 5%;
    margin-left: 15%;
    margin-right: 15%;
    background:#66cc00;
    border-radius: 10px;
    padding: 10px 30px;
    width: 60%;
    color: #fff;
    opacity: 0.75;

}

.map_text{

    white-space: nowrap;
    padding: 10% 10%;
}
.map_text h3 {
    transform: rotate(90deg);
    width:1.53em;
    margin-top:10%;
    margin-left: 10%;
}