<%for(var i in types){ var t=types[i];%>
<tr doc_type="<%=t.typeID%>">
    <td><%=t.description%>:</td>
    <td id="doc_ref"></td>
    <td id="doc_desc"></td>
    <td id="doc_File"></td>
    <td><a  class="btn btn-nrlais"><i class="fa fa-plus"></i></a> </td>
</tr>
<%}%>