<tr row_tag='<%=tag%>'>
    <td><%= controller.fullName() %> </td>
    <td><%= controller.sex() %></td>
    <td><%= controller.age() %></td>
    <td><%= controller.maritalStatus() %></td>
    <td><%= controller.familyRole() %></td>
    <td><%= controller.guardian() %></td>
    <td><%= controller.seqNo() %></td>
    <td><%= controller.area() %></td>
    <td><%= controller.rentSize() %></td>
    <td><%= controller.fromDate() %></td>
    <td><%= controller.toDate() %></td>
    <td><%= controller.leaseAmount() %></td>
    <td>
        <a href="javascript:listMangerRouter.removeItem(<%=instanceID%>,'<%=tag%>')"
           class="btn btn-default btn-xs"><i class="fa fa-trash"></i> Remove</a>
        <a href="javascript:listMangerRouter.editItem(<%=instanceID%>,'<%=tag%>')"
           class="btn btn-default btn-xs"><i class="fa fa-edit"></i> Edit</a>
    </td>
<tr/>