
    <div class="modal-dialog">
        <div class="modal-content" id="restriction_form">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>Rent Information</h4>

            </div>            <!-- /modal-header -->
            <div class="modal-body">
                <form >
                    <div class="row">
                        <div class="col-md-12">
                            <input field="restriction_uid" value="<%=controller.restrictionUID()%>" hidden />
                            <div class="form-group col-md-6">
                                <label>Type</label>
                                <select field="restrictionType">
                                    <% var types = controller.types();
                                            for(var key in types){ %>
                                    <option value="<%=key%>" <%= key==controller.typeID()?"selected":"" %>><%= types[key]%></option>
                                    <% } %>
                                </select>                            
                            </div>

                        </div>
                        <div class="col-md-12">
                            <div class="form-group col-md-6">
                                <label>Third Party</label>
                                <select field="party">
                                    <% var persons = controller.persons();
                                            for(var i in persons){ %>
                                    <option value="<%= persons[i].party.partyUID %>" <%= persons[i].party.partyUID==controller.party().partyUID?"selected":"" %>><%= controller.fullNameOf(persons[i].party) %></option>
                                    <% } %>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group col-md-6">
                                <label>Select Parcel</label>
                                <select field="parcel">
                                    <% var parcels = controller.parcels();
                                            for(var i in parcels){ %>
                                    <option value="<%= parcels[i].parcel.parcelUID %>" <%= parcels[i].parcel.parcelUID==controller.parcel().parcelUID?"selected":"" %>><%= controller.seqNoOf(parcels[i].parcel) %></option>
                                    <% } %>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group col-md-6">
                                <label>From</label>
                                <input type="text" field="restrictionFrom" value="" dateVal=<%=controller.fromDateVal()%>/>
                            </div>
                            <div class="form-group col-md-6">
                                <label>To</label>
                                <input type="text" field="restrictionTo" value="" dateVal=<%=controller.toDateVal()%>/>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="pull-left parcel-error-panel">

                </div>
                <div class="form-group pull-right">
                    <input type="button" value="Save" field="save_restriction"/>
                </div>
            </div>
        </div>
    </div>


